DB_TYPE = "postgres"
DSN="dbname=encoder sslmode=disable user=postgres password=root host=localhost"

DB_TEST_TYPE="sqlite3"
DSN_TYPE=":memory:"

ENV="dev"
DEBUG=true
AUTO_MIGRATE_DB=true

localStoragePath="/tmp"
GOOGLE_APPLICATION_CREDENTIALS="bucket-credential.json"